{% extends 'frontoffice/base.html.twig' %}

{% block title %}Commentaire{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Add Commentaire</h1>
{{ form(formulaireCommentaire, {'attr': {'novalidate': 'novalidate'}}) }}
<br>
<br>
<br>
<br>

<br>
{% endblock %}