<form method="post" action="{{ path('app_promo_vols_delete', {'id': promo_vol.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo_vol.id) }}">
    <button class="btn">Delete</button>
</form>
