{% extends 'frontoffice/base.html.twig' %}

{% block title %}blank{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <style>
        body {
            background-image: url('{{ asset('public/frontoffice/images/background.jpg') }}'); /* Set your background image URL */
            background-size: cover; /* Adjust as needed */
            background-position: center center; /* Center the background image */
            background-attachment: fixed; /* Fixed background */
            /* Add more styling as needed */
        }
    </style>

    <h1>Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_index') }}">back to list</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}