{% extends 'frontoffice/base.html.twig' %}
{% block title %}OffreCommentaire{% endblock %}



{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Ajouter un Commentaire</h1>

    
    {{ form_start(form)}}

    <div class="form-group">
    {{form_label(form.avis)}}
    <br>
    {{ form_widget(form.avis)}}

    </div>
    <button class="btn btn-primary">Add</button>

    {{form_end(form)}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
