{% extends 'frontoffice/base.html.twig' %}

{% block title %}OffreCommentaire{% endblock %}

{% block stylesheets %}
    <style>
        .commentaire {
            margin-bottom: 20px; /* Adjust the margin-bottom value to control the vertical spacing */
        }
    </style>
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <main role="main">
        <table border="1">
            <tr>
                <td>Commentaire</td>
            </tr>
            {% for offrecommentaire in commentaires %}
                <tr>
                    <td>{{ offrecommentaire.avis}}</td>
                   <td> {{ offrecommentaire.createdAt|date("d/m/Y") }}</td>
                    
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}