

{% extends 'backoffice/base.html.twig' %}

{% block content %}
    <h1>Show React for {{ publication.title }}</h1>

    <p>Likes: {{ likeCount }}</p>
    <p>Dislikes: {{ dislikeCount }}</p>
{% endblock %}
