{% extends 'backoffice/base.html.twig' %}

{% block title %}Reclamation{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h4>Update Réclamation</h4>
{{form(formulaireReclamation, {'attr': {'novalidate': 'novalidate'}})}}
<br>
<br>
<br>
<br>
<br>
{% endblock %}