{% extends 'frontoffice/base.html.twig' %}

{% block title %}Reclamation{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Add Reclamation</h1>
{{ form(formulaireReclamation) }}
<br>
<br>
<br>
<br>

<br>
{% endblock %}