{% extends 'backoffice/base.html.twig' %}

{% block title %}Commentaire{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h4>Update Commentaire</h4>
{{form(formulaireCommentaire)}}
<br>
<br>
<br>
<br>

<br>
{% endblock %}