{% extends 'backoffice/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<h1>Mettre à jour les utilisateurs</h1>
{{form(formulaireUser,{'attr': {'novalidate': 'novalidate'}})}}
<br>
<br>
<br>
<br>
<br>
{% endblock %}