{% extends 'frontoffice/base.html.twig' %}

{% block title %}blank{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <style>

        .container-c {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 8px;
        }


        .message {
            margin-top: 20px;
            padding: 10px;
            background-color: #28a745;
            color: #fff;
            border-radius: 5px;
        }
    </style>
    <div class="container-c">

        <div class="message">
            Cette offre a été réservé.
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}